@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

body {
    background-color: rgb(47, 47, 107);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 380px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
}

.cityInput {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 1px aqua,
        -2px -2px 1px aqua;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.image img {
    width: 150px;
    height: 160px;
}

.temp,
.location,
.country {
    margin-top: 5px;
    font-size: 35px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
}

.temp {
    font-weight: bold;
}

.location {
    color: chartreuse;
    font-size: 40px;
    font-weight: bold;
}

.country {
    color: rgb(74, 74, 74);
    font-size: 20px;
    font-weight: bold;
}

.co-ordinates {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
}


.co-ordinates div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.co-ordinates div span {
    font-size: 15px;
}

.co-ordinates div span:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    color: #777;
    padding-top: 5px;
}

.element {
    text-align: center;
}

.data-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.icon{
    width: 130px;
    height: 80px;
}

.humidity-percent{
    font-size: 20px;
    font-weight: bold;
    color: #777;
    padding-top: 5px;
}

.wind-percent{
    font-size: 20px;
    font-weight: bold;
    color: #777;
    padding-top: 5px;
}

.text{
    font-size: 13px;
    color: #888;
}

.designer{
    text-align: center;
    font-size: 13px;
    color: #888;
    margin: 10px 0;
}

.designer a{
    text-decoration: none;
    color: #14adb0;
    font-weight: bold;
}

.error-msg,
.cnf-msg,
.loading-msg{
    margin-top: 5px;
    color: #888;
    font-size: 26px;
    text-align: center;
    font-weight: 450;
}