*{
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

table,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 400px;
    padding: 5px 10px;
}

.Box{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.Box .country{
    display: flex;
    flex-direction: column;
}

input{
    padding: 5px;
    margin: 10px;
}

textarea{
    border-radius: 5px;
    font-size: 15px;
}

select{
    font-size: 20px;
}